.header-item--logo {
    text-transform: uppercase;
}

.site-header__element--top {
    padding: 23px 0 16px;
    transition: background-color 0.2s ease;
}

.site-header__element--top .page-width,
.page-width.site-header__drawers,
.merchant-collection-content .page-width {
    max-width: calc(100% - 190px);
    padding: 0;
}

body.template-index slideshow-section .custom-slide {
    max-width: 2000px;
    margin: 0 auto;
}

.merchant-collection-content .filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.merchant-collection-content .merchant-filter-title {
    padding-right: 15px;
    line-height: 18.2px;
}

.merchant-collection-content .filter-form div {
    margin-bottom: 0 !important;
}

.merchant-collection-content .filter-form .collection-sidebar__group .collapsible-trigger__layout--inline {
    justify-content: flex-start;
}

.merchant-collection-content .filter-form .collection-sidebar__group .collapsible-content.collapsible-content--all:not(.is-open) {
    margin-bottom: 0;
}

.merchant-collection-content .filter-form .collection-sidebar__group .collapsible-trigger-btn {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 16px;
}

.merchant-collection-content .filter-form .collection-sidebar__group .collapsible-trigger__layout--inline span {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.header-layout {
    align-items: center;
    display: flex;
    background: #d3d8dced;
    padding: 23px 45px;
    border-radius: 20px;
    max-height: 90px;
    justify-content: space-between;
    position: relative;
}

.site-header__logo {
    font-family: "Cormorant", serif !important;
}

.site-header__logo-link {
    font-family: "Cormorant", sans-serif !important;
    font-size: 19px;
}

.site-header__logo-link_mobile {
    display: none;
}

.site-navigation .site-nav__link {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Lora", sans-serif;
}

.site-nav__link--icon {
    padding-left: 10px;
    padding-right: 10px;
}

.header-item--navigation {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
}

.header-item--icons {
    flex: unset;
}

.cart-link {
    display: flex;
}

.site-header__search {
    max-width: 376px;
    width: 100%;
    margin-right: 52px;
}

.search__input {
    border-radius: 20.5px;
    background: rgba(255, 255, 255, 0.75);
    color: #555554 !important;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    font-family: "Lora", sans-serif;
}

.btn--close-search {
    display: none !important;
}

.breadcrumb__divider:last-child {
    display: none;
}

.breadcrumb__divider {
    color: #000;
    opacity: 1;
    padding: 0;
}

.breadcrumb a {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.breadcrumb-last {
    color: rgba(0, 0, 0, 50%) !important;
}

.footer__section--menus .footer__newsletter {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 !important;
}

.footer__section--menus .footer__newsletter .footer__subscribe p {
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12px;
}

.footer__section--menus .footer__newsletter .footer__subscribe p:first-child {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    font-family: "Lora", sans-serif;
    line-height: normal;
}

.footer__section--menus .footer__newsletter .contact-form {
    width: 100%;
}

.footer__section--menus .footer__newsletter .newsletter__input-group {
    margin: 0;
    flex-direction: column;
    gap: 24px;
}

.footer__section--menus .footer__newsletter .newsletter__input-group .newsletter__input {
    border: none;
    border-bottom: 1px solid #474443;
    padding: 0;
}

.footer__section--menus .footer__newsletter .newsletter__input-group .newsletter__input::placeholder {
    color: transparent;
}

.footer__section--menus .footer__newsletter .newsletter__input-group .btn {
    width: 100%;
    background-color: transparent;
    border: 0.5px solid #474443;
    color: #1c1c1c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065px;
}

.footer__section--menus .footer__newsletter>* {
    padding: 0;
    max-width: 381px;
}

.site-footer .footer__section:nth-child(2) {
    border-top: none;
    padding-top: 0;
}

.footer__section .site-header__logo {
    z-index: 0;
}

.footer__section .site-header__logo .site-header__logo-link {
    max-width: 400px;
    width: 100%;
    color: #000;
    font-size: 21.273px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 0;
    text-transform: uppercase;
}

.footer__section--menus .footer__menu a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.footer__section--menus .footer__title {
    color: #b7926a;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 17.6px;
    /* 110% */
    letter-spacing: 0.065px;
    text-transform: uppercase;
    padding-bottom: 17px;
    border-bottom: 1px solid #b7926a;
    max-width: 353px;
}

.footer__section--menus .footer__menu p {
    margin: 0;
}

.footer__section--menus .footer__menu .hours p:last-child {
    line-height: 25px;
}

.footer__section--menus .block__title {
    color: #b7926a;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.065px;
    text-transform: uppercase;
}

.footer__section--menus .footer__menu.footer__customer-service li span {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.footer__section--menus .footer__menu.footer__customer-service li:not(:first-child) {
    margin-top: 20px;
}

.footer__section--menus .footer__menu.footer__customer-service li.hours ul {
    list-style: none;
    margin: 0;
}

.footer__section--menus .footer__menu.footer__customer-service li.hours ul li {
    margin: 0;
}

.footer__section--menus .footer__menu.footer__customer-service li a {
    text-decoration: none;
}

.footer__social {
    margin-top: 34px;
}

.footer__social a {
    border: none;
    padding: 0;
}

.footer__section .footer__base-links {
    color: #1c1c1c;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 285.714% */
    letter-spacing: 0.065px;
}

.footer__base-links {
    text-align: left;
}

.footer__section--menus .footer__block .footer__menu li svg {
    display: none;
}

.footer__section--menus .footer__block .footer__menu li .separator {
    color: #b7926a;
    padding: 0 11px;
}

.grid-product__price--current {
    display: inline-block;
    font-size: calc(var(--typeBaseSize) + 2px);
    font-weight: 500;
    margin-right: 0;
}

.grid-product__price--original {
    color: rgba(0, 0, 0, 0.32);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

[data-grid-style*="gridlines"] .grid-product:after {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
}

.page-content--top,
.page-content--with-blocks {
    text-align: center;
}

.collection-sidebar__group .collapsible-trigger__layout--inline span {
    font-family: "Lora", sans-serif;
    font-weight: 500;
}

.collection-sidebar__group .collapsible-trigger__layout--inline {
    justify-content: space-between;
}

.collection-sidebar__group .collapsible-content.collapsible-content--all.is-open {
    max-height: 200px;
    overflow-y: auto;
    padding-top: 15px;
    height: 100% !important;
}

.filter-wrapper form.filter-form div {
    margin-bottom: 5px;
    padding-bottom: 0;
}

.hero[data-arrows="true"] .flickity-prev-next-button:hover {
    transform: translateY(-50%) !important;
}

#MobileNav .slide-nav__wrapper:after {
    background-color: transparent;
}

#MobileNav .slide-nav__link {
    font-size: calc(var(--typeBaseSize) - 2px);
    color: #222529;
    font-family: "Lora", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 0;
    border-bottom: 1px solid #c7a580;
}

#MobileNav .slide-nav__item {
    padding-top: 10px;
}

#MobileNav .slide-nav__image {
    display: none;
}

#MobileNavFooter .icon-and-text {
    gap: 11px;
    padding-top: 26px;
}

#MobileNavFooter .separator {
    color: #b7926a;
    font-family: "Lora", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065px;
}

#MobileNavFooter .tel,
#MobileNavFooter .mobile-location {
    color: #000;
    font-family: "Lora", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065px;
    text-decoration-line: underline;
}

.grid-product__tags {
    left: 13px;
}

.cart__page .cart__image a {
    height: 150px;
}

.cart__price:not(.cart__price--strikethrough) span:first-child,
[data-subtotal] span,
[data-subtotal] {
    color: #b7926a;
    font-weight: 500;
}

.cart__checkout {
    background-color: #b7926a;
    font-weight: 500;
}

.cart__checkout:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    font-weight: 500;
}

.cart__continue {
    border-color: #b7926a;
    font-weight: 500;
}

.page-width.page-content.text-center.section-wrapper--404 {
    background-image: url(https://cdn.shopify.com/s/files/1/0837/0792/0681/files/andrea-cairone-lzM3pbQim70-unsplash_2.jpg?v=1704901138);
    background-position: center;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    position: relative;
    max-width: 100%;
}

.page-width.page-content.text-center.section-wrapper--404:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
}

.page-width.page-content.text-center.section-wrapper--404 header.section-header.section-header--404 {
    z-index: 2;
}

.page-width.page-content.text-center.section-wrapper--404 .section-header__title {
    font-size: 70px;
}

.page-width.page-content.text-center.section-wrapper--404 p {
    font-size: 24px;
}

.page-width.page-content.text-center.section-wrapper--404 .section-header__title,
.page-width.page-content.text-center.section-wrapper--404 p {
    color: #fff;
    font-family: "Lora", sans-serif;
}

.page-width.page-content.text-center.section-wrapper--404 p {
    margin: 30px 0;
}

.page-width.page-content.text-center.section-wrapper--404 p:first-child {
    margin-top: 0;
}

.page-width.page-content.text-center.section-wrapper--404 p a {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #b7926a;
    text-decoration: none;
    background-color: #b7926a;
    font-family: "Montserrat", sans-serif;
    font-size: var(--typeBaseSize);
}

[data-view="small"] .grid-product__title,
.template-index .feature-collection-homepage .grid-product__title {
    height: 42px;
}

.collection-merchant-landing .grid-product__title {
    height: 36px;
}

/* merchant landing */

.feature-collection-merchant-landing .product-grid .product-grid-item {
    padding: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
}

.feature-collection-merchant-landing .product-grid .product-grid-item .grid-item__meta {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.feature-collection-merchant-landing .product-grid .product-grid-item .grid-item__meta .grid-product__title {
    color: #000;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.merchant-landing-rich-text .page-width {
    margin-bottom: 0 !important;
    padding: 0 20px !important;
}

.merchant-landing-rich-text .page-width .theme-block h2 {
    margin-bottom: 0;
}

.collection-merchant-landing {
    padding-top: 0;
}

.collection-merchant-landing .rte--collection-desc {
    padding-top: 0;
    padding-bottom: 0;
}

.collection-merchant-landing .rte--collection-desc .enlarge-text {
    color: #000;
    font-family: Lora;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.collection-merchant-landing .page-width [data-view="small"] .grid-product__image {
    max-height: unset;
}

.collection-merchant-landing .page-width .grid-product__image-wrap {
    margin: 10px 10px 0;
}

.collection-merchant-landing .page-width .grid-item__meta {
    margin: 24px 10px 10px;
}

.collection-merchant-landing .page-width .grid-item__meta .grid-product__title {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.collection-merchant-landing .page-width .grid-item__meta .grid-product__price .grid-product__price--current {
    color: #b7926a;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-grid.product-grid.collection-grid {
    justify-content: flex-start;
    gap: 10px;
}

predictive-search,
predictive-search form {
    position: unset;
}

.search__results {
    left: 0;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
}

.collection-hero__content {
    background: rgb(0 0 0 / 50%);
}

.collection-hero__content .page-width {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: end;
}

.collection-hero__content .page-width header.section-header.section-header--flush {
    width: 100%;
}

.collection-hero__content .page-width .rte.rte--collection-desc {
    flex: 1;
    padding-bottom: 0;
    max-height: 350px;
    overflow-y: auto;
    display: none;
}

#CollectionAjaxContent .header-desc.grid .rte.rte--collection-desc {
    display: block;
}

#CollectionAjaxContent .grid .rte.rte--collection-desc .enlarge-text {
    font-size: 16px;
}

[data-product-price-wrap] .product__price--compare span {
    color: #ababab !important;
}

[data-product-price-wrap] .product__price--compare {
    color: #ababab !important;

    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
}

[data-product-price-wrap] .product__price--compare:after {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    background: #ababab;
    width: 100%;
    height: 2px;
    top: 55.5%;
    bottom: 0;
}

.product-block nav.breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__photos {
    margin-top: 45px;
}

.flickity-button-icon {
    height: 50%;
    width: 50%;
}

.site-nav__link--underline:after {
    border-bottom-color: #b7936b;
    margin: 0 40px 0 20px;
}

.site-navigation .site-nav__details[open] svg {
    transform: rotate(-90deg);
    transition: transform 0.2s;
}

.js-qty__wrapper {
    border: 1px solid #222529;
    max-width: 114px;
}

button.js-qty__adjust.js-qty__adjust--minus {
    border: none;
    border-bottom: 1px solid #222529;
    border-right: 1px solid #222529;
    background: #ffff;
}

button.js-qty__adjust.js-qty__adjust--minus.greater {
    background-color: #fff;
}

.englewood-main-product button.js-qty__adjust:hover {
    background-color: #f2f2f2 !important;
}

button.js-qty__adjust.js-qty__adjust--plus {
    border: none;
    background-color: #fff;
    border-left: 1px solid #222529;
    border-bottom: 1px solid #222529;
}

@media screen and (min-width: 769px) {
    #CollectionAjaxContent .grid.header-desc .rte.rte--collection-desc {
        display: none;
    }

    .collection-hero__content .page-width .rte.rte--collection-desc {
        display: block;
    }

    .collection-hero__content .page-width .rte.rte--collection-desc .enlarge-text {
        font-size: 16px;
    }

    .collection-hero__content .page-width header.section-header.section-header--flush {
        width: 40%;
    }

    .collection-merchant-landing .page-width {
        max-width: calc(100% - 190px);
        padding: 0;
    }

    .collection-merchant-landing .rte--collection-desc {
        padding-top: 0;
        padding-bottom: 45px;
    }

    .collection-merchant-landing .page-width [data-view="small"] .grid-item {
        flex: 0 0 calc(33.3% - 10px);
    }
}

@media screen and (min-width: 1300px) {
    .collection-merchant-landing .page-width [data-view="small"] .grid-item {
        flex: 0 0 calc(25% - 10px);
    }
}

@media screen and (min-width: 1920px) {
    .collection-merchant-landing .page-width {
        max-width: 1500px !important;
    }
}

@media screen and (max-width: 768px) {
    .collection-merchant-landing .rte--collection-desc .enlarge-text {
        font-size: 22px;
    }

    .page-width.image-tabs-sections {
        max-width: 100%;
    }
}

/* end merchant landing */
#RecoverPasswordForm p button {
    font-weight: 400;
    width: 100%;
}

button#HideRecoverPasswordLink {
    border: 1px solid #b7936b;
    min-width: 111px;
    padding: var(--btnPadding);
    color: #b7936b;
    width: 100%;
}

.create_customer .errors ul {
    list-style: none;
    margin-left: 0;
}

@media screen and (min-width: 1241px) {
    .footer__block {
        max-width: calc(25% - 40px);
        flex: 0 1 25%;
    }
}

@media screen and (min-width: 1670px) {
    .footer__block {
        max-width: calc(25% - 113px);
    }
}

@media screen and (max-width: 1240px) and (min-width: 769px) {
    .footer__block {
        max-width: calc(50% - 40px);
        flex: unset;
        width: 100%;
    }
}

@media screen and (max-width: 1990px) and (min-width: 1900px) {
    .header-item--navigation .site-nav__link {
        padding: 16px 10px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1901px) {
    .header-search {
        display: none;
    }

    .mobile-left-nav,
    .site-header__search-container.is-active,
    .site-header__search-container.is-active .site-header__search,
    predictive-search.is-active .btn--close-search {
        display: none !important;
    }
}

@media screen and (max-width: 1900px) {
    .header-search {
        display: block;
    }

    .mobile-left-nav,
    .mobile-left-nav .js-search-header,
    .site-header__search,
    .mobile-left-nav button .icon-plus {
        display: none;
    }

    .site-header__search-container.is-active .site-header__search {
        display: flex;
        max-width: 90%;
        margin: 0 auto;
    }

    .site-navigation .site-nav__link {
        font-size: 16px;
        line-height: 16px;
        padding: 16px 10px;
    }
}

@media screen and (max-width: 1440px) {
    .site-header__search-container.is-active .site-header__search {
        display: flex;
        max-width: 100%;
        display: block !important;
        margin: 0 15px;
    }

    .site-header__logo-link,
    .site-header__search {
        display: none;
    }

    .site-header__logo-link_mobile {
        display: block;
    }

    .site-nav__link--icon svg,
    .telephone summary svg {
        width: calc(100% - 4px);
    }
}

@media screen and (min-width: 1201px) {
    .template-index .index-section:not(.index-section--sub-product):first-child {
        margin-top: -68px;
        padding-top: 0;
    }

    .template-index .index-section.instagram-wrapper:first-child {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1200px) {

    .page-width.site-header__drawers,
    .merchant-collection-content .page-width {
        max-width: 100%;

        padding: 0 20px;
    }

    .header-item--navigation,
    .header-search {
        display: none !important;
    }

    .mobile-left-nav {
        display: flex !important;
    }

    .mobile-left-nav .js-search-header {
        display: block;
    }

    .mobile-left-nav button.is-active .icon-plus {
        display: block;
    }

    .mobile-left-nav button.is-active .hamburger-icon,
    .header-search {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .collection-filter__sort {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    .merchant-collection-content .collection-sidebar__group .collapsible-content.collapsible-content--all {
        position: relative;
    }

    .merchant-collection-content .collection-sidebar__group .collapsible-content.collapsible-content--all.is-open {
        margin-top: 15px;
        height: 205px !important;
        max-height: 205px !important;
        max-width: 250px;
        width: 250px;
    }

    .merchant-collection-content .collection-sidebar__group .collapsible-content.collapsible-content--all .collapsible-content__inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: max-content;
    }

    .page-width.englewood-custom-html.map--wrapper {
        padding-bottom: 126px;
    }

    #FooterMenus {
        padding: 121px 0 83px;
    }

    .footer__section .page-width {
        max-width: 100%;
    }

    .footer__section--menus .page-width {
        max-width: 100%;
    }

    .footer__section--menus .footer__blocks {
        justify-content: space-between;
        gap: 0;
    }

    .instagram-wrapper .custom-content {
        gap: 50px;
    }

    .instagram-wrapper .custom-content .custom-item {
        padding-left: 0;
    }

    .instagram-wrapper .custom-content .three-quarters {
        width: calc(75% - 50px);
    }

    .telephone {
        padding-left: 0;
        padding-right: 0;
    }

    .telephone summary {
        pointer-events: none;
    }

    .telephone .site-nav__details {
        padding: 10px 10px 13px;
    }

    .telephone .site-nav__details summary {
        padding: 0;
    }

    .telephone .site-nav__details summary svg {
        vertical-align: sub;
    }

    .telephone .site-nav__dropdown {
        padding: 0;
        left: 60%;
        transform: translateX(-50%);
        width: 185px;
        margin-top: 13px;
    }

    .telephone .site-nav__dropdown .page-width {
        max-width: inherit;
    }

    .telephone:hover .site-nav__details summary:after {
        display: none;
    }

    .telephone .site-nav__dropdown ul {
        list-style: none;
        padding: 0;
        padding-top: 15px;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .telephone .site-nav__dropdown ul li {
        border-bottom: 1px solid #b7926a;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 5px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .telephone .site-nav__dropdown ul li a {
        font-size: 13px;
        margin: 0 8px;
    }

    .telephone .site-nav__dropdown ul li a:hover {
        color: #898989;
    }
}

@media screen and (max-width: 768px) {

    [data-view="small"] .grid-product__title,
    .template-index .feature-collection-homepage .grid-product__title {
        height: 36px;
    }

    .breadcrumb a {
        font-size: 12px;
    }

    .template-collection .index-section:not(.index-section--sub-product):first-child {
        padding-top: 18px;
    }

    .mobile-nav-open .header-item--icons {
        display: none;
    }

    .site-header__element--top .page-width {
        max-width: 100%;
        padding: 0;
    }

    .header-layout,
    .site-header__element {
        padding: 0;
        background: #d9d9d9;
        border-radius: 0;
    }

    .site-header__logo {
        margin: 0;
    }

    .site-header__element {
        padding: 27px 24px 12px 18px;
    }

    .site-header__logo-link,
    .site-header__search,
    .header-item--navigation,
    .telephone,
    .location {
        display: none;
    }

    .site-header__logo-link_mobile {
        display: block;
    }

    .site-nav__icons {
        flex-direction: row-reverse;
        align-items: center;
        gap: 22px;
    }

    .site-header__search-container.is-active {
        background: #d9d9d9;
        left: 55px;
        top: 13px;
    }

    predictive-search.is-active .search__results {
        width: 100% !important;
    }

    .site-nav__link {
        justify-content: center;
        padding: 0 5px;
    }

    .footer__section .site-header__logo {
        display: none;
    }

    .footer__section--menus .footer__newsletter .contact-form {
        margin-top: 10px;
    }

    .footer__section--menus .footer__newsletter>* {
        max-width: 100%;
    }

    .footer__section .footer__newsletter .footer__subscribe {
        text-align: left;
        max-width: 100%;
    }

    .footer__section--menus .footer__newsletter .footer__subscribe p:last-child {
        margin-bottom: 0;
    }

    .footer__section .footer__newsletter .contact-form .newsletter__input {
        border-bottom: 1px solid #c7a580;
    }

    .footer__section .logo-newsletter-social {
        margin-bottom: 37px;
    }

    .footer__section--menus .footer__newsletter .newsletter__input-group .btn {
        padding: 11.75px 0px 11.25px 0px;
    }

    .footer__section--menus .footer__newsletter .newsletter__input-group .btn span {
        color: #000;
        text-align: center;
        font-size: 13.344px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.5px;
    }

    .footer__section--menus .footer__newsletter .footer__subscribe p:first-child {
        font-weight: 400;
    }

    .footer__section--menus .footer__block .footer__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(0, 0, 0, 0.87);
        font-family: "Montserrat", sans-serif;
        font-size: 14.883px;
        font-style: normal;
        font-weight: 500;
        line-height: 25.38px;
        /* 170.532% */
        letter-spacing: 0.4px;
        margin-bottom: 0;
        padding-bottom: 20px;
        border-color: #ededed;
        max-width: 100%;
        text-transform: none;
    }

    .footer__section--menus .footer__menu.footer__customer-service li span,
    .footer__section--menus .footer__menu a {
        font-size: 12px;
    }

    .footer__section--menus .footer__block .footer__menu {
        display: none;
    }

    .footer__section--menus .footer__block .footer__menu.active {
        display: block;
        padding-top: 20px;
    }

    .footer__section:first-child {
        padding-bottom: 21px;
        border: none;
    }

    .footer__section:nth-child(2) {
        padding-top: 0;
    }

    .footer__section--menus .footer__block .footer__menu li svg {
        display: block;
    }

    .footer__section--menus .footer__block .footer__menu li {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .footer__section--menus .footer__block .footer__menu li.hours {
        align-items: flex-start !important;
    }

    .collection-grid__wrapper .collection-grid {
        padding: 20px;
    }

    .collection-grid__wrapper .grid-item {
        margin-bottom: 20px;
    }

    .featured-grid-section .grid-item .grid-item__content .grid-product__title {
        font-size: 12px;
    }

    .featured-grid-section .grid-item .grid-item__content .grid-product__price--current,
    .featured-grid-section .grid-item .grid-item__content .grid-product__price--original {
        font-size: 14px;
    }

    .page-width.page-content.text-center.section-wrapper--404 {
        margin: 40px auto;
        min-height: 600px;
    }

    .page-width.page-content.text-center.section-wrapper--404 .section-header__title {
        font-size: 40px;
    }

    .page-width.page-content.text-center.section-wrapper--404 p {
        font-size: 16px;
    }

    button.collection-filter__btn.text-link.is-active {
        display: flex;
    }

    button.collection-filter__btn.text-link.is-active .filter-icon {
        display: none;
    }

    .collection-filter__btn.is-active svg.hidden {
        display: block !important;
    }

    .collection-filter__btn.is-active svg.hidden path {
        opacity: 1;
    }

    [data-product-price-wrap] .product__price--compare:after {
        top: 51.5%;
    }
}